<div class="p-4">
  <h3 class="mb-4" mat-dialog-title>Editar Usuario</h3>

  <div mat-dialog-content>
    <form [formGroup]="usuarioRegisterForm" (ngSubmit)="onSubmit()">
      <!-- Cédula -->
      <div class="mb-3">
        <label for="cedula">Cedula:</label>
        <input
          type="text"
          id="cedula"
          class="form-control"
          formControlName="cedula"
          required
        />
      </div>

      <!-- Nombres -->
      <div class="mb-3">
        <label for="nombres">Nombres:</label>
        <input
          type="text"
          id="nombres"
          class="form-control"
          formControlName="nombres"
          required
        />
      </div>

      <!-- Apellidos -->
      <div class="mb-3">
        <label for="apellidos">Apellidos:</label>
        <input
          type="text"
          id="apellidos"
          class="form-control"
          formControlName="apellidos"
          required
        />
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email">Correo Institucional:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          required
        />
      </div>

      <!-- Teléfono -->
      <div class="mb-3">
        <label for="telefono">Telefono:</label>
        <input
          type="text"
          id="telefono"
          class="form-control"
          formControlName="telefono"
          required
        />
      </div>
      <!-- Tipo de contrato -->
      <div class="mb-3">
        <label for="telefono">Tipo Contrato:</label>
        <input
          type="text"
          id="tipo_contrato"
          class="form-control"
          formControlName="tipo_contrato"
          required
        />
      </div>
      <!-- dedicacion -->
      <div class="mb-3">
        <label for="telefono">Dedicacion:</label>
        <input
          type="text"
          id="dedicacion"
          class="form-control"
          formControlName="dedicacion"
          required
        />
      </div>

      <!-- Rol de Usuario -->
        <div class="mb-3">
          <label for="rol" class="form-label">Rol</label>
          <select
            id="rol"
            class="form-select"
            formControlName="rol"
            required
          >
            <option value="" disabled selected>Seleccione un rol</option>
            <option value="docente">Docente</option>
            <option value="alumno">Alumno</option>
            <option value="admin">Administrador</option>
            <!-- Agrega los roles que necesites -->
          </select>
        </div>


         <!-- Contraseña de usuario -->
          <div class="mb-3">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            required
          />
        </div>

      <!-- Estado -->
      <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <select
          id="estado"
          class="form-select"
          formControlName="estado"
          required
        >
          <option selected value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>

      <div mat-dialog-actions class="d-flex justify-content-end gap-2">
        <button mat-button (click)="onClose()" class="btn btn-secondary">
          Cancelar
        </button>
        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="usuarioRegisterForm.invalid"
          class="btn btn-primary"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
