<div
  class="d-flex flex-column flex-md-row align-items-center gap-4 justify-content-end p-3 px-md-4 mb-3 bg-white border-bottom"
>
  <div class="search-bar">
    <input type="text" class="form-control" id="buscar" placeholder="Buscar" />
  </div>
  <div class="header-actions">
    <button class="btn-notification">
      <i class="fas fa-bell"></i>
      <span class="notification-badge">3</span>
    </button>
    <button class="btn-logout" routerLink="/dashboard">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>
