<h2>Gestión de Usuarios</h2>

<div class="d-flex align-items-center justify-content-end gap-2">
  <button class="btn btn-primary" (click)="openSaveModal()">
    <img src="assets/images/plus-circle.svg" alt="plis-icon" />
    Agregar usuario
  </button>
</div>

<!-- Modal Bootstrap para registrar usuario -->
<div class="modal fade show" tabindex="-1" [ngStyle]="{display: showRegisterModal ? 'block' : 'none', background: showRegisterModal ? 'rgba(0,0,0,0.5)' : 'none'}" *ngIf="showRegisterModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Usuario</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeSaveModal()"></button>
      </div>
      <div class="modal-body">
        <!-- Conectar eventos para cerrar modal y recargar usuarios -->
        <app-form-register-user (close)="closeSaveModal()" (userRegistered)="cargarUsuarios()"></app-form-register-user>
      </div>
    </div>
  </div>
</div>

<table class="custom-table mt-4">
  <thead>
    <tr>
      <th>Cédula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuarios; trackBy: trackByCedula">
      <td>{{ user.cedula }}</td>
      <td>{{ user.nombres }}</td>
      <td>{{ user.apellidos }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.telefono }}</td>
      <td>{{ user.estado }}</td>
      <td class="d-flex align-items-center justify-content-center gap-2">
        <button class="btn btn-primary" (click)="openEditarModal(user)">
          <img src="assets/images/editar-docente.svg" alt="edit-icon" />
        </button>
        <button class="btn btn-danger" (click)="openDeleteModal(user.cedula)">
          <img src="assets/images/borrar-docente.svg" alt="edit-icon" />
        </button>
        <button class="btn btn-details" (click)="openViewModal(user)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M10 18c1.85 0 3.54-.63 4.9-1.69l5.1 5.1L21.41 20l-5.1-5.1A8 8 0 0 0 18 10c0-4.41-3.59-8-8-8s-8 3.59-8 8 3.59 8 8 8m0-14c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6 2.69-6 6-6"
            ></path>
            <path d="M9 14h2v-3h3V9h-3V6H9v3H6v2h3z"></path>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
